---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import GameList from "../../components/GameList.astro";
import Header from "../../components/Header.astro";
import TeamSelect from "../../components/TeamSelect.astro";
import { ncaaTeamsAPI, teamsLookupAPI } from "../../config";

let teams = [];
export async function getStaticPaths() {
  try {
    const teamData = await fetch(ncaaTeamsAPI);
    const teamResults = await teamData.json();
    teams = await teamResults.results;
  } catch (error) {
    console.log(error);
  }

  const teampaths = teams.map((team) => {
    return { params: { name: team.name } };
  });

  return teampaths;
}

const { name } = Astro.params;

// de-slugify the name
const teamName = name.replace(/-/g, " ").toUpperCase();
// todo get casing right
let gamesResults = [];
try {
  const games = await fetch(teamsLookupAPI + teamName);
  const gameData = await games.json();
  gamesResults = await gameData.results;
} catch (error) {
  console.log(error);
}
---

<Layout title="Watch women's sports">
  <main>
    <Header />
    <TeamSelect />
    <PageHeader title={teamName} sport="basketball" />
    <GameList gameList={gamesResults} compact={true} />
  </main>
</Layout>
