---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
import Header from '../components/Header.astro';
import { fifaAPI } from '../config';

const games = await fetch(fifaAPI);
const gameData = await games.json();
const gamesResults = await gameData.results;


---

<Layout title="Watch women's sports">
	<main>
		<Header />
        <PageHeader title="FIFA" sport="soccer" />
		<GameList gameList={gamesResults} compact={true} />
	</main>
</Layout>
