---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
import GameList from "../components/GameList.astro";
import Header from "../components/Header.astro";
import { upcomingAPI, todayAPI } from "../config";

let games = [];
let showToday = true;

try {
  const today = await fetch(todayAPI);
  const todayData = await today.json();
  const todayGames = todayData.results;
  if (todayGames.length > 0) {
    games = todayGames;
  } else {
    const upcoming = await fetch(upcomingAPI);
    const upcomingData = await upcoming.json();
    games = upcomingData.results;
    if (games.length > 0) {
      showToday = false;
    }
  }
} catch (error) {
  console.log(error);
}
---

<Layout title="Watch women's sports">
  <main>
    <Header sport="basketball" />
    <nav class="quick-links wrapper">
      <h2 class="quick-links__title">Teams to watch</h2>
      <ul class="quick-links__nav">
        <li><a class="button" href="/teams/1235">USA Soccer</a></li>
        <li><a class="button" href="/teams/1302">Gotham FC</a></li>
        <li><a class="button" href="/teams/1299">Angel City FC</a></li> 
        <li><a class="button" href="/teams/1391">LV Aces</a></li>
        <li><a class="button" href="/teams/1381">Ind. Fever</a></li>
        <li><a class="button" href="/teams/1388">NY Liberty</a></li>
      </ul>
    </nav>
    <PageHeader title={showToday ? "Today" : "Upcoming"} />
    <GameList
      gameList={games}
      compact={false}
      showLeague={true}
      showDate={showToday ? false : true}
    />
    {showToday && (
      <div class="wrapper more-button">
        <a href="/upcoming" class="button">Upcoming games</a>
      </div>
    )}
  </main>
</Layout>
<style>
  .more-button {
    text-align: center;
    margin: 2rem auto 5rem;
  }

</style>
