---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
import Header from '../components/Header.astro';
import { upcomingAPI, todayAPI } from '../config';


const upcoming = await fetch(upcomingAPI);
const today = await fetch(todayAPI);
const upcomingData = await upcoming.json();
const todayData = await today.json();
const upcomingGames = upcomingData.results;
const todayGames = todayData.results;

---

<Layout title="Watch women's sports">
	<main>
		<Header />
		<div class="two-column">
			<GameList title="Today's Games" gameList={todayGames} />
			<GameList title="Upcoming Games" gameList={upcomingGames} />
		</div>
	</main>
</Layout>
