---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
import Header from '../components/Header.astro';
import TeamSelect from '../components/TeamSelect.astro';  
import { ncaaBball, ncaaTeamsAPI,  } from '../config';

let gamesResults = [];
try {
    const games = await fetch(ncaaBball);
    const gameData = await games.json();
    gamesResults = await gameData.results;
} catch (error) {
    console.log(error);
}

let teams = [];
try {
    const teamData = await fetch(ncaaTeamsAPI);
    const teamDataResults = await teamData.json();
    teams = await teamDataResults.results;
} catch (error) {
    console.log(error);
}
---
<Layout title="Watch women's sports">
	<main>
		<Header sport="basketball" />
        <PageHeader title="College Basketball" sport="basketball" />
        <TeamSelect teams={teams} />
		<GameList gameList={gamesResults} compact={false} />
	</main>
</Layout>
