---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
import Header from '../components/Header.astro';
import { nwslAPI } from '../config';

const games = await fetch(nwslAPI);
const gameData = await games.json();
const gamesResults = await gameData.results;

---

<Layout title="Watch women's sports">
	<main>
		<Header />
		<div class="two-column">
			<GameList title="NWSL" gameList={gamesResults} />
		</div>
	</main>
</Layout>


