---
import PageHeader from '../components/PageHeader.astro';
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
import Header from '../components/Header.astro';
import { pwhlAPI } from '../config';


const games = await fetch(pwhlAPI);
const gameData = await games.json();
const gamesResults = await gameData.results;

---

<Layout title="Watch women's sports">
	<main>
		<Header sport="hockey" />
		<PageHeader title="Professional Women's Hockey League" sport="hockey" />
		<GameList gameList={gamesResults} compact={false} />
	</main>
</Layout>


