---
import Logo from "./Logo.astro";
import Spinner from "./Spinner.astro"

interface Props {
  sport: string;
}

const { sport } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const activeClass = (path: string) => currentPath === path ? 'navbar__link navbar__link--active' : 'navbar__link';
---
<div class="header">
  <div class="top-banner wrapper">
    <div class="logo-wrap">
      <Logo />
    </div>
    <Spinner sport={sport}/>
  </div>
  
  <nav>
    <ul class="navbar wrapper">
      <li><a class={activeClass('')} href="/">Now</a></li>
      <li><a class={activeClass('wnba')} href="/wnba">Basketball</a></li>
      <li><a class={activeClass('soccer')} href="/soccer">Soccer</a></li>
      <li><a class={activeClass('ncaa-softball')} href="/ncaa-softball">Softball</a></li>
    </ul>
  </nav>
</div>


<!-- <nav>
  <div class="center">
    <h2>Teams to watch</h2>
  </div>
  <ul class="navbar navbar--tight">
    <li><a href="/teams/719">Iowa</a></li>
    <li><a href="/teams/799">South Carolina</a></li>
    <li><a href="/teams/1011">LSU</a></li>
    <li><a href="/teams/727">Virginia Tech</a></li>
  </ul>
</nav> -->

<style>
  .header {
    background-color: #011627ff;
    color: #fdfffcff;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .top-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;

  }
  .logo-wrap {
    width: 150px;
  }
  @media screen and (min-width: 600px) {
    .logo-wrap {
      width: 200px;
    }
    
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .navbar {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 0.5rem;
    flex-wrap: wrap;
    /* border-bottom: 2px solid #2ec4b6ff; */
  }
  @media screen and (min-width: 600px) {
    .navbar {
      justify-content: flex-start;
    }
  }
  .navbar__link {
    display: block;
    padding: 1rem 1rem .5rem 1rem;
    position: relative;
  }
  .navbar__link--active {
    color: #2ec4b6ff;
  }
  .navbar__link--active:after {
    content: "";
    position: absolute;
    top: 100%;
    margin-top: -2px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #2ec4b6ff;
  }
</style>
