---
import logo from "../images/logo.svg";
---

<h1><a href="/"><img class="logo" src={logo} alt="sheplays.net" /></a></h1>
<div class="instructions">
    <p>Listings for upcoming women's sports events. 🇺🇸 Looking for USA's next game? <a href="/usa/">View USA games →</a></p>

</div>
<nav>
    <ul class="navbar">
        <li><a href="/">ALL</a></li>
        <li><a href="/fifa/">FIFA</a></li>
        <li><a href="/wnba/">WNBA</a></li>
        <li><a href="/nwsl/">NWSL</a></li>
        <li><a href="/au/">AU - Softball</a></li>
    </ul>
</nav>


<style>
    a {
        color: inherit;
        text-decoration: none;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
    .logo {
        max-width: 300px;
    }
    .navbar {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 1200px;
        margin: 1.5rem auto 3rem;
        gap: .5rem;
        flex-wrap: wrap;
    }
    .navbar li {
        background-color: var(--accent-alt);
        background-image: var(--accent-gradient-bold);
        color: white;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.4rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        font-size: 0.85rem;
    }
    .navbar li a {
        display: block;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
        font-style: italic;
    }
    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .instructions p {
        margin: 0;
    }
    .instructions p a {
        color: var(--accent-alt);
        font-weight: 700;
        text-decoration: underline;
    }
</style>
