---
import { ncaaTeamsAPI } from "../config";

// to do: make this work with other leagues
let teams = [];
try {
  const teamData = await fetch(ncaaTeamsAPI);
  const teamResults = await teamData.json();
  teams = await teamResults.results;
} catch (error) {
  console.log(error);
}
---

<div>
  <input
    placeholder="Search for a team"
    list="teams"
    name="team"
    id="team-input"
  />
  <datalist id="teams">
    {teams.map((team) => <option value={team.name} data-id={team.id} />)}
  </datalist>
</div>

<script>
  const teamInput = document.getElementById("team-input");

  teamInput.addEventListener("change", (event) => {
    const teamName = event.target.value;
    const selectedOption = document.querySelector(
      `option[value="${teamName}"]`
    );
    if (selectedOption) {
      const teamID = selectedOption.getAttribute("data-id");
      // You can use teamID and teamName as needed
      window.location.href = `/teams/${teamID}`;
    }
  });
</script>

<style>
  input {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: 2px solid #444;
    border-radius: 0.25rem;
    font-size: 18px;
  }
  .footnote {
    font-size: 14px;
    color: #444;
    margin-top: 0.5rem;
    font-style: italic;
  }
</style>
