---
const { teams } = Astro.props;
---

<div class="wrapper list-wrapper">
  <select id="team-input" class="select">
    <option value="">Top teams</option>
    {
      teams.map((team) => (
        <option value={team.name} data-id={team.id}>
          {team.name}
        </option>
      ))
    }
  </select>
  <a id="team-link" href="">
    <button class="button">Go</button>
  </a>
  <div class="footnote">Select a team to see their schedule</div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const teamInput = document.getElementById("team-input");
    const teamLink = document.getElementById("team-link");
    teamInput.addEventListener("change", (e) => {
      const teamId = e.target.selectedOptions[0].dataset.id;
      teamLink.setAttribute("href", `/teams/${teamId}`);
    });
  });
</script>

<style>
  .select {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: 2px solid #011627ff;
    border-radius: 0.25rem;
    font-size: 18px;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    color: #333;
  }

  .button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #2ec4b6ff;
    color: #011627ff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .footnote {
    font-size: 14px;
    color: #444;
    font-style: italic;
  }
</style>
