---
const { teams } = Astro.props;
---

<div class="wrapper list-wrapper team-select">
  <nav>
    <ul class="team-select__list">
      {
        teams.map((team) => (
          <li>
            <a href={`/teams/${team.id}`}>
              {team.rank && <span class="team-select__rank">{team.rank}</span>}
              <span>{team.name}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
<style>
  .team-select__list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 auto;
    gap: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .team-select li {
    padding: .5rem;
    border-radius: 5px;
    background-color: #2ec4b6ff;
    white-space: nowrap;
    font-weight: bold;

  }
  .team-select li a {
    color: #011627ff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
  .team-select__rank {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 1rem;
    text-align: center;
    height: 1rem;
    border-radius: 50%;
    background-color: #011627ff;
    color: #fff;
    font-size: 0.6rem;
  }
</style>
